
        <!-- First part -->
        <div id="firstpart" >
          <img src="assets/loginimage.png" width="1180px" height="971px">
      </div>
      <!-- Second part -->
      <div id="secondpart">
          <img src="assets/icon.png" width="480px" height="250px">
      </div>
      <!-- Third part -->
      <div id="thirdpart">
          <input  type="text" placeholder="Enter your username or email" class="username" value=""    required>


          <input  type="text" placeholder="Enter your password" class="password" value=""   required>



          <input type="button" class="login" value="Login">
          <input type="button" class="signup" value="Sign up">
          <div class="for">
          <p class="forget">
              <a href="#">
                  Forget username or password
              </a>
          </p>
      </div>

      </div>
